<h2>Past Statuses</h2>
<ul>
	<% for status in facebook_session.user.statuses do -%>
		<li><%= status.message %>
			<ul>
				<% for comment in status_comments(status.status_id) do -%>
				<li><fb:profile-pic uid="<%= comment["fromid"] %>" size="thumb" ></fb:profile-pic><%= comment["text"] %></li>
				<% end -%>
				<% form_tag(:controller => "users", :action => "comment_status") do -%>
					<%= label_tag(:status_comment, "Comment: ") %>
					<%= text_field_tag(:status_comment) %>
					<%= hidden_field_tag(:status_id, facebook_session.user.id.to_s + "_" + status.status_id.to_s) %>
					<%= submit_tag("Update") %>
				<% end -%>
			</ul>
			<%= status.status_id %>
			<%= facebook_session.user.id %>
		</li>
	<% end %>
</ul>

<h2>Update Status</h2>
<% form_tag(:controller => "users", :action => "update_status") do -%>
	<%= label_tag(:message, "What are you doing?") %><br />
	<%= text_area_tag(:message, nil, :size => "44x6") %><br />
	<%= submit_tag("Update") %>
<% end -%>
