<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Application Connect</title>
		<%= stylesheet_link_tag "reset" %>
		<%= stylesheet_link_tag "text" %>
		<%= stylesheet_link_tag "960" %>
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag :defaults%>
	</head>
	<body>
		<%= fb_connect_javascript_tag %>
		<%= init_fb_connect "XFBML"%>
		
		<div class="container_12">
			<%= render :partial => "layouts/header" %> 
			
			<div class="clear"></div>
			<%= yield %>
			<div class="clear"></div>
		</div>
	</body>
</html>
